langchain==0.2.6
langchain_community==0.2.6
langchain_chroma==0.1.2
langchain-openai==0.1.13
azure-identity==1.17.1
ipykernel==6.29.4
python-dotenv==1.0.1
langchain-google-genai==1.0.7
beautifulsoup4==4.12.3
langchainhub==0.1.20
faiss-cpu==1.8.0.post1
tiktoken==0.7.0
scikit-learn==1.5.0
plotly-express==0.4.1
nbformat==5.10.4